
//generic
main {
	section:first-of-type {
		padding-top: 135px;

		@media(max-width: $finalBreak) {
			padding-top: 115px;
		}
	}
}

.width-container {
	width: 100%;
	max-width: $widthBreak;
	margin: 0 auto;
	padding: 0 15px;

	.inner {
		padding: 0 50px;
	}

	@media(max-width: 1024px) {
		padding: 0 20px;

		.inner {
			padding: 0 30px;
		}
	}

	@media(max-width: $mobileBreak) {
		padding: 0 10px;

		.inner {
			padding: 0 20px;
		}
	}

	@media(max-width: $finalBreak) {
		.inner {
			padding: 0 10px;
		}
	}
}

//project grid
.project-wrap {

	.projects-list-item.regular {
		display: inline-block;
		margin-right: -4px;
		width: 50%;
		margin-bottom: 50px;
		vertical-align: top;
	}

	&:nth-of-type(odd) .projects-list-item.regular {
		padding-right: 5%;
	}

	&:nth-of-type(even) .projects-list-item.regular {
		padding-left: 5%;
	}

	.projects-list-item.featured {
		width: 100%;
		margin-top: 55px;
		position: relative;

		&:before {
			height: 160px;
			width: 160px;
			position: absolute;
			left: 0;
			top: -58px;
		}

		h3, .description {
			margin-left: 22.5%;
		}

		.squiggle, .langs {
			width: 45%;
			margin-left: auto;
			margin-right: 0;
		}

		.squiggle.half {
			width: 22.5%;
		}
	}

	@media(max-width: $midBreak) {
		.projects-list-item.regular {
			display: block;
			margin: 0 auto 50px;
			width: 100%;
			max-width: 650px;
		}

		&:nth-of-type(odd) .projects-list-item.regular,
		&:nth-of-type(even) .projects-list-item.regular {
			padding-left: 0;
			padding-right: 0;
		}

		.projects-list-item.featured {
			margin: 65px auto 0;
			max-width: 650px;

			&:before {
				height: 80px;
				width: 80px;
				left: 0;
				top: -20px;
			}

			h3 {
				text-indent: 100px;
				padding-bottom: 35px;
			}

			h3, .description {
				margin-left: 0;
			}

			.squiggle, .langs {
				width: 100%;
			}

			.squiggle.half {
				width: 50%;
			}
		}
	}

	@media(max-width: $mobileBreak) {
		.projects-list-item.featured {
			margin-top: 55px;

			&:before {
				top: -23px;
			}
		}

		.projects-list-item.regular {
			margin-bottom: 35px;
		}
	}

	@media(max-width: $finalBreak) {
		.projects-list-item.featured {
			margin-top: 40px;

			&:before {
				height: 70px;
				width: 70px;
				top: -19px;
			}

			h3 {
				text-indent: 85px;
			}
		}

		.projects-list-item.regular {
			margin-bottom: 25px;
		}
	}
}

//about section
.about {
	padding-top: 100px;

	@media(max-width: $finalBreak) {
		padding-top: 85px;
	}

	&-header {
		padding-left: 11.5%;

		@media(max-width: $finalBreak) {
			padding-left: 4.75%;
		}

		&:before {
			left: 0px;
			top: -100%;
			height: 270px;
			width: 320px;

			@media(max-width: $midBreak) {
					height: 200px;
					width: 237px; //no magic - just aspect ratio
					top: -96%;
			}

			@media(max-width: $mobileBreak) {
					top: -108%;
			}

			@media(max-width: $subMobileBreak) {
					top: -62%;
			}

			@media(max-width: $finalBreak) {
					top: -72%;
			}
		}
	}

	p {
		margin-left: 22.5%;

		@media(max-width: $widthBreak) {
			&:first-of-type {
				padding-top: 10px;
			}
		}

		@media(max-width: $midBreak) {
			margin-left: auto;
			margin-right: auto;

			&:first-of-type {
				padding-top: 30px;
			}
		}

		@media(max-width: $subMobileBreak) {
			&:first-of-type {
				padding-top: 15px;
			}
		}
	}
}

//contact
.contact {
	margin-top: 30px;

	&-background {
		padding-top: 50px;
	}

	.contact-section {
		padding: 40px 0;
		width: 50%;
		clear: both;

		&.direct {
			float: right;
			padding-left: 5%;
		}

		&.online {
			float: left;
			padding-right: 5%;
		}
	}

	@media(max-width: $midBreak) {
		margin-top: 0;
	}

	@media(max-width: $mobileBreak) {
		margin-top: 40px;

		.contact-section {
			width: calc(100% - 20%);
			max-width: 650px;
			margin: 0 auto 0 20%;

			&.direct, &.online {
				float: none;
				padding-left: 0;
				padding-right: 0;
				text-align: right;
			}
		}
	}

	@media(max-width: $subMobileBreak) {
		&-background {
			padding-top: 0;
		}

		.contact-section {
			padding: 25px 0;
		}
	}

	@media(max-width: $finalBreak) {
		margin-top: 45px;

		&-background {
			padding-top: 65px;
		}

		.contact-section {
			width: calc(100% - 22.5%);
		    margin: 0 auto 0 22.5%;
		}
	}

	@media(max-width: 350px) {
		.contact-section {
			width: 100%;
			margin: 0 auto;
		}
	}
}
