@import 'https://fonts.googleapis.com/css?family=Open+Sans:400i,600,700';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #FFF; }

::-moz-selection {
  background: blue;
  color: white; }

::selection {
  background: blue;
  color: white; }

::-moz-selection {
  background: blue;
  color: white; }

.svg {
  max-width: 100%; }

a {
  color: #000; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@keyframes waveHover {
  from {
    background-position: center center; }
  to {
    background-position: 108.35% center; } }

@keyframes waveHoverHalf {
  from {
    background-position: center center; }
  to {
    background-position: 119% center; } }

@-webkit-keyframes waveHover {
  from {
    background-position: center center; }
  to {
    background-position: 108.35% center; } }

@-webkit-keyframes waveHoverHalf {
  from {
    background-position: center center; }
  to {
    background-position: 119% center; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-list .slick-loading {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  height: 26px;
  width: 28px;
  line-height: 1;
  content: '';
  display: block;
  position: absolute;
  top: -12px; }

.slick-prev:before {
  background: url("../img/arrow-left.svg") center center;
  background-size: cover;
  right: 10px; }

.slick-next:before {
  background: url("../img/arrow-right.svg") center center;
  background-size: cover;
  left: 10px; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -60px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: transparent; }
    .slick-dots li:first-of-type {
      margin-left: 20px; }
    .slick-dots li:last-of-type {
      margin-right: 20px; }
      .slick-dots li:last-of-type a:after {
        display: none; }
    .slick-dots li a {
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
      width: 15px;
      height: 15px;
      border: 2px solid blue;
      line-height: 15px;
      text-align: center;
      background-color: #FFF;
      -webkit-transition: background-color .2s ease;
      transition: background-color .2s ease;
      box-sizing: border-box;
      outline: none;
      display: block;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
      .slick-dots li a:after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 25px;
        background-color: blue;
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        left: 7px;
        top: -10px; }
    .slick-dots li.slick-active a {
      background-color: blue; }

main section:first-of-type {
  padding-top: 135px; }
  @media (max-width: 460px) {
    main section:first-of-type {
      padding-top: 115px; } }

.width-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  .width-container .inner {
    padding: 0 50px; }
  .width-container .mobile-inner {
    padding: 0; }
  @media (max-width: 1024px) {
    .width-container {
      padding: 0 20px; }
      .width-container .inner {
        padding: 0 30px; } }
  @media (max-width: 740px) {
    .width-container {
      padding: 0 10px; }
      .width-container .inner, .width-container .mobile-inner {
        padding: 0 20px; } }
  @media (max-width: 460px) {
    .width-container .inner, .width-container .mobile-inner {
      padding: 0 10px; } }

.project-wrap .projects-list-item.regular {
  display: inline-block;
  margin-right: -4px;
  width: 50%;
  margin-bottom: 50px;
  vertical-align: top; }

.project-wrap:nth-of-type(odd) .projects-list-item.regular {
  padding-right: 5%; }

.project-wrap:nth-of-type(even) .projects-list-item.regular {
  padding-left: 5%; }

.project-wrap .projects-list-item.featured {
  width: 100%;
  margin-top: 55px;
  position: relative; }
  .project-wrap .projects-list-item.featured:before {
    height: 160px;
    width: 160px;
    position: absolute;
    left: 0;
    top: -58px; }
  .project-wrap .projects-list-item.featured h3, .project-wrap .projects-list-item.featured .description {
    margin-left: 22.5%; }
  .project-wrap .projects-list-item.featured .squiggle, .project-wrap .projects-list-item.featured .langs {
    width: 45%;
    margin-left: auto;
    margin-right: 0; }
  .project-wrap .projects-list-item.featured .squiggle.half {
    width: 22.5%; }

@media (max-width: 920px) {
  .project-wrap .projects-list-item.regular {
    display: block;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 650px; }
  .project-wrap:nth-of-type(odd) .projects-list-item.regular,
  .project-wrap:nth-of-type(even) .projects-list-item.regular {
    padding-left: 0;
    padding-right: 0; }
  .project-wrap .projects-list-item.featured {
    margin: 65px auto 0;
    max-width: 650px; }
    .project-wrap .projects-list-item.featured:before {
      height: 80px;
      width: 80px;
      left: 0;
      top: -20px; }
    .project-wrap .projects-list-item.featured h3 {
      text-indent: 100px;
      padding-bottom: 35px; }
    .project-wrap .projects-list-item.featured h3, .project-wrap .projects-list-item.featured .description {
      margin-left: 0; }
    .project-wrap .projects-list-item.featured .squiggle, .project-wrap .projects-list-item.featured .langs {
      width: 100%; }
    .project-wrap .projects-list-item.featured .squiggle.half {
      width: 50%; } }

@media (max-width: 740px) {
  .project-wrap .projects-list-item.featured {
    margin-top: 55px; }
    .project-wrap .projects-list-item.featured:before {
      top: -23px; }
  .project-wrap .projects-list-item.regular {
    margin-bottom: 35px; } }

@media (max-width: 460px) {
  .project-wrap .projects-list-item.featured {
    margin-top: 40px; }
    .project-wrap .projects-list-item.featured:before {
      height: 70px;
      width: 70px;
      top: -19px; }
    .project-wrap .projects-list-item.featured h3 {
      text-indent: 85px; }
  .project-wrap .projects-list-item.regular {
    margin-bottom: 25px; } }

.about {
  padding-top: 100px; }
  @media (max-width: 460px) {
    .about {
      padding-top: 85px; } }
  .about-header {
    padding-left: 11.5%; }
    @media (max-width: 460px) {
      .about-header {
        padding-left: 4.75%; } }
    .about-header:before {
      left: 0px;
      top: -100%;
      height: 270px;
      width: 320px; }
      @media (max-width: 920px) {
        .about-header:before {
          height: 200px;
          width: 237px;
          top: -96%; } }
      @media (max-width: 740px) {
        .about-header:before {
          top: -108%; } }
      @media (max-width: 640px) {
        .about-header:before {
          top: -62%; } }
      @media (max-width: 460px) {
        .about-header:before {
          top: -72%; } }
  .about p {
    margin-left: 22.5%; }
    @media (max-width: 1140px) {
      .about p:first-of-type {
        padding-top: 10px; } }
    @media (max-width: 920px) {
      .about p {
        margin-left: auto;
        margin-right: auto; }
        .about p:first-of-type {
          padding-top: 30px; } }
    @media (max-width: 640px) {
      .about p:first-of-type {
        padding-top: 15px; } }

.focus-item {
  width: 33.33%;
  display: inline-block;
  margin-right: -4px;
  padding: 0 30px;
  vertical-align: top; }
  .focus-item:first-of-type {
    padding-left: 0; }
  .focus-item:nth-of-type(2) {
    margin-top: 10%;
    padding: 0 15px; }
  .focus-item:last-of-type {
    margin-top: 20%;
    padding-right: 0; }
  .focus-item-icon {
    text-align: center; }
    .focus-item-icon svg {
      width: 140px;
      height: 140px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  @media (max-width: 920px) {
    .focus-item {
      display: block;
      width: 100%;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 !important;
      margin-bottom: 55px; }
      .focus-item:first-of-type {
        margin-top: 55px; }
      .focus-item:nth-of-type(2) {
        margin-top: 0; }
      .focus-item:last-of-type {
        margin-top: 0;
        margin-bottom: 55px; } }
  @media (max-width: 460px) {
    .focus-item {
      margin-bottom: 40px; }
      .focus-item:first-of-type {
        margin-top: 40px; }
      .focus-item:last-of-type {
        margin-bottom: 40px; }
      .focus-item-icon svg {
        height: 120px;
        width: 120px; } }

.contact {
  margin-top: 30px; }
  .contact-background {
    padding-top: 50px; }
  .contact .contact-section {
    padding: 40px 0;
    width: 50%;
    clear: both; }
    .contact .contact-section.direct {
      float: right;
      padding-left: 5%; }
    .contact .contact-section.online {
      float: left;
      padding-right: 5%; }
  @media (max-width: 920px) {
    .contact {
      margin-top: 0; } }
  @media (max-width: 740px) {
    .contact {
      margin-top: 40px; }
      .contact .contact-section {
        width: -webkit-calc(100% - 20%);
        width: calc(100% - 20%);
        max-width: 650px;
        margin: 0 auto 0 20%; }
        .contact .contact-section.direct, .contact .contact-section.online {
          float: none;
          padding-left: 0;
          padding-right: 0;
          text-align: right; } }
  @media (max-width: 640px) {
    .contact-background {
      padding-top: 0; }
    .contact .contact-section {
      padding: 25px 0; } }
  @media (max-width: 460px) {
    .contact {
      margin-top: 45px; }
      .contact-background {
        padding-top: 65px; }
      .contact .contact-section {
        width: -webkit-calc(100% - 22.5%);
        width: calc(100% - 22.5%);
        margin: 0 auto 0 22.5%; } }
  @media (max-width: 350px) {
    .contact .contact-section {
      width: 100%;
      margin: 0 auto; } }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.975);
  border-bottom: 3px solid blue;
  z-index: 100; }
  header .logo, header .links {
    display: inline-block;
    margin-right: -4px; }
  header .logo {
    text-align: left;
    vertical-align: top; }
    header .logo img {
      width: 100%;
      max-width: 177px;
      z-index: 1;
      position: absolute;
      top: 50%; }
      @media (max-width: 460px) {
        header .logo img {
          top: 24px; } }
  header .mobile-toggle {
    display: none; }
    @media (max-width: 740px) {
      header .mobile-toggle {
        display: inline-block;
        float: right;
        padding: 19px 0;
        cursor: pointer; }
        header .mobile-toggle.active + .links {
          height: -webkit-calc(100vh - 66px);
          height: calc(100vh - 66px); } }
    @media (max-width: 460px) {
      header .mobile-toggle {
        padding: 15px 0; }
        header .mobile-toggle.active + .links {
          height: -webkit-calc(100vh - 58px);
          height: calc(100vh - 58px); } }
    header .mobile-toggle:hover > span {
      background-color: blue; }
    header .mobile-toggle span {
      display: block;
      background-color: #000;
      height: 3px;
      width: 35px;
      margin-bottom: 8px;
      -webkit-transition: background-color .25s ease, -webkit-transform .25s ease;
      transition: background-color .25s ease, -webkit-transform .25s ease;
      transition: background-color .25s ease, transform .25s ease;
      transition: background-color .25s ease, transform .25s ease, -webkit-transform .25s ease;
      -webkit-transition: background-color .25s ease, transform .25s ease;
      -ms-transform-origin: center center;
          transform-origin: center center;
      -webkit-transform-origin: center center; }
      header .mobile-toggle span:last-of-type {
        margin-bottom: 0; }
    header .mobile-toggle.active span {
      background-color: blue; }
      header .mobile-toggle.active span:first-of-type {
        -ms-transform: translateY(11px) rotate(-135deg);
            transform: translateY(11px) rotate(-135deg);
        -webkit-transform: translateY(11px) rotate(-135deg); }
      header .mobile-toggle.active span:nth-of-type(2) {
        -ms-transform: scale(0);
            transform: scale(0);
        -webkit-transform: scale(0); }
      header .mobile-toggle.active span:last-of-type {
        -ms-transform: translateY(-11px) rotate(135deg);
            transform: translateY(-11px) rotate(135deg);
        -webkit-transform: translateY(-11px) rotate(135deg); }
  header .links {
    text-align: right;
    vertical-align: top;
    width: 100%; }
    @media (max-width: 740px) {
      header .links {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.975);
        height: 0;
        overflow: hidden;
        width: 100%;
        top: 66px;
        left: 0;
        z-index: -1;
        will-change: height;
        transition: height .25s ease .15s;
        -webkit-transition: height .25s ease .15s; } }
    @media (max-width: 460px) {
      header .links {
        top: 58px; } }
    header .links li {
      display: inline-block;
      margin-right: -4px;
      margin-left: 35px;
      text-align: center; }
      header .links li a {
        display: block;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 63px;
        padding: 0 35px;
        position: relative; }
        header .links li a:hover, header .links li a:active, header .links li a:focus {
          outline: none;
          text-decoration: none;
          color: blue; }
        @media (max-width: 920px) {
          header .links li a {
            padding: 0 20px; } }
      @media (max-width: 740px) {
        header .links li {
          display: block;
          margin: 10px 0;
          padding: 5px 35px;
          text-align: center; }
          header .links li:first-of-type {
            padding-top: 35px; }
          header .links li:last-of-type {
            padding-bottom: 35px; }
            header .links li:last-of-type a:after {
              display: none; }
          header .links li a {
            padding: 15px 0;
            font-size: 20px;
            position: relative; }
            header .links li a:hover, header .links li a:active, header .links li a:focus {
              text-decoration: underline; }
            header .links li a:after {
              content: '';
              background: #FFF url("../img/svg/wave2.svg") center center repeat-x;
              background-size: 40px 10px;
              height: 10px;
              width: 50%;
              position: absolute;
              left: 25%;
              bottom: -16px; } }

footer {
  margin-top: 175px;
  height: 63px;
  background-color: #fff;
  border-top: 3px solid blue;
  text-align: right; }
  footer .logo {
    display: inline-block;
    margin-right: -2px; }
    footer .logo img {
      width: 142px;
      position: relative;
      z-index: 1;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
  @media (max-width: 740px) {
    footer {
      margin-top: 120px; } }
  @media (max-width: 460px) {
    footer {
      margin-top: 70px; } }

.projects-header-box {
  border: 5px solid #000;
  background: #FFF url("../img/svg/wave2.svg") repeat;
  padding: 30px;
  background-size: 75px 18.5px; }
  .projects-header-box .hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0; }
  .projects-header-box-inner {
    margin: 15px;
    background: #fff url("../img/svg/front-end-text-black.svg") top center repeat-y;
    background-size: 964px 81px;
    background-attachment: fixed;
    box-shadow: inset 15px 25px 0 0 white, inset -15px -25px 0 0 white; }
    .projects-header-box-inner img {
      width: 100%;
      padding: -webkit-calc(100% / 6.666) 15px;
      padding: calc(100% / 6.666) 15px; }
    @media (max-width: 1140px) {
      .projects-header-box-inner {
        background: #fff;
        background-attachment: initial;
        box-shadow: none;
        padding: 25px 15px; }
        .projects-header-box-inner img {
          background: #fff url("../img/svg/front-end-text-black.svg") top center repeat-y;
          background-size: -webkit-calc(100% - 30px) 20%;
          background-size: calc(100% - 30px) 20%; } }
    @media (max-width: 740px) {
      .projects-header-box-inner {
        padding: 20px 15px; }
        .projects-header-box-inner img {
          background: #fff;
          padding: 20px 15px; }
        .projects-header-box-inner:before, .projects-header-box-inner:after {
          content: url("../img/svg/front-end-text-black.svg");
          display: block;
          width: -webkit-calc(100% - 30px);
          width: calc(100% - 30px);
          margin: 0 auto; } }
  @media (max-width: 460px) {
    .projects-header-box {
      padding: 8px;
      background-size: 55px 13.5px; }
      .projects-header-box-inner {
        padding: 20px 0px; }
        .projects-header-box-inner img {
          padding: 15px 10px; }
        .projects-header-box-inner:before, .projects-header-box-inner:after {
          width: -webkit-calc(100% - 20px);
          width: calc(100% - 20px); } }

.projects-list {
  margin-top: 90px;
  text-align: center; }
  @media (max-width: 740px) {
    .projects-list {
      margin-top: 65px; } }
  @media (max-width: 460px) {
    .projects-list {
      margin-top: 45px; } }
  .projects-list-item {
    text-align: left; }
    .projects-list-item .project-wrap-link {
      text-decoration: none;
      display: inline-block; }
      .projects-list-item .project-wrap-link:hover .squiggle, .projects-list-item .project-wrap-link:hover .squiggle.half {
        -webkit-animation-play-state: running;
                animation-play-state: running; }
    .projects-list-item h3 {
      font-size: 38px;
      font-weight: 700;
      padding-bottom: 25px;
      margin-bottom: 30px;
      border-bottom: 5px solid blue; }
      @media (max-width: 740px) {
        .projects-list-item h3 {
          font-size: 32px; } }
      @media (max-width: 460px) {
        .projects-list-item h3 {
          font-size: 28px; } }
      @media (max-width: 640px) {
        .projects-list-item h3 {
          padding-bottom: 20px;
          margin-bottom: 25px; } }
      @media (max-width: 460px) {
        .projects-list-item h3 {
          margin-bottom: 20px; } }
    .projects-list-item .description {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.65;
      margin-bottom: 40px; }
      .projects-list-item .description .link-style {
        text-transform: uppercase;
        color: blue;
        font-size: 14px;
        margin-left: 3px; }
        .projects-list-item .description .link-style:hover {
          text-decoration: underline; }
    .projects-list-item .squiggle {
      background: #FFF url("../img/svg/wave2.svg") center center repeat-x;
      background-size: 58px 15px;
      height: 15px;
      -webkit-animation: waveHover 4s linear infinite;
              animation: waveHover 4s linear infinite;
      -webkit-animation-play-state: paused;
              animation-play-state: paused; }
      .projects-list-item .squiggle.half {
        width: 50%;
        margin-left: auto;
        margin-right: 0;
        margin-top: 25px;
        -webkit-animation: waveHoverHalf 2s linear infinite;
                animation: waveHoverHalf 2s linear infinite;
        -webkit-animation-play-state: paused;
                animation-play-state: paused; }
      @media (max-width: 1024px) {
        .projects-list-item .squiggle {
          -webkit-animation: none;
                  animation: none;
          background-position: center right; }
          .projects-list-item .squiggle.half {
            -webkit-animation: none;
                    animation: none; } }
    .projects-list-item .langs .lang {
      font-size: 20px;
      font-weight: 400;
      font-style: italic;
      text-align: left;
      margin-bottom: 20px; }
      .projects-list-item .langs .lang:first-of-type {
        margin-top: 5px; }
      .projects-list-item .langs .lang:nth-of-type(2) {
        text-align: center; }
      .projects-list-item .langs .lang:last-of-type {
        text-align: right; }
    .projects-list-item.featured:before {
      content: '';
      background: transparent url(../img/svg/featured.svg) top center no-repeat;
      display: block; }
    @media (max-width: 640px) {
      .projects-list-item .description {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 30px; }
      .projects-list-item .langs .lang {
        font-size: 18px; } }
    @media (max-width: 460px) {
      .projects-list-item .description {
        font-size: 15px; }
      .projects-list-item .langs .lang {
        font-size: 17px; } }

.about-header {
  position: relative; }
  .about-header:before {
    content: '';
    background: transparent url("../img/svg/about-graphic.svg") center center no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    z-index: -1; }
  .about-header h2 {
    position: relative;
    padding: 30px;
    border: 5px solid #000;
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 25px;
    background: white;
    background: -webkit-linear-gradient(left, white 60%, blue 100%);
    background: linear-gradient(to right, white 60%, blue 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0000ff',GradientType=1 ); }
    @media (max-width: 920px) {
      .about-header h2 {
        padding: 20px; } }
    @media (max-width: 740px) {
      .about-header h2 {
        font-size: 32px; } }
    @media (max-width: 460px) {
      .about-header h2 {
        font-size: 28px; } }
    .about-header h2 br {
      display: none; }
      @media (max-width: 640px) {
        .about-header h2 br {
          display: inline; } }

.about p {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 600; }
  @media (max-width: 640px) {
    .about p {
      font-size: 16px; } }
  @media (max-width: 460px) {
    .about p {
      font-size: 15px; } }

.focus svg .diamond {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  will-change: transform;
  -webkit-transition: -webkit-transform .45s ease;
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease, -webkit-transform .45s ease; }

.focus-item:hover svg .diamond {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg); }

.focus h3 {
  font-size: 32px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 700; }
  @media (max-width: 460px) {
    .focus h3 {
      font-size: 28px; } }

.focus p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify; }
  @media (max-width: 460px) {
    .focus p {
      font-size: 15px; } }

.contact-background {
  background: #fff url("../img/svg/contact-graphic.svg") center center no-repeat;
  background-size: contain; }
  @media (max-width: 740px) {
    .contact-background {
      background: #fff url("../img/svg/contact-graphic-stacked.svg") center left no-repeat;
      background-size: 20%;
      background-position: 3% 0; } }
  @media (max-width: 460px) {
    .contact-background {
      background: #fff url("../img/svg/contact-graphic-horizontal.svg") top center no-repeat;
      background-size: contain; } }

.contact .contact-section h3 {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 5px solid blue; }
  @media (max-width: 740px) {
    .contact .contact-section h3 {
      font-size: 32px; } }
  @media (max-width: 460px) {
    .contact .contact-section h3 {
      font-size: 28px; } }

.contact .contact-section .link-list {
  margin: 0; }
  .contact .contact-section .link-list li {
    display: block;
    margin-bottom: 10px; }
    .contact .contact-section .link-list li a {
      display: inline-block;
      padding: 2px 0;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600; }
      .contact .contact-section .link-list li a:hover, .contact .contact-section .link-list li a:active, .contact .contact-section .link-list li a:focus {
        text-decoration: underline;
        color: blue; }
      @media (max-width: 460px) {
        .contact .contact-section .link-list li a {
          font-size: 18px; } }

.contact .contact-section.direct {
  text-align: right; }
  .contact .contact-section.direct .link-list li {
    margin-bottom: 20px; }
    .contact .contact-section.direct .link-list li:last-of-type {
      margin-bottom: 0; }
    .contact .contact-section.direct .link-list li .sub-header {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 3px; }
      @media (max-width: 460px) {
        .contact .contact-section.direct .link-list li .sub-header {
          font-size: 14px; } }

.project-content {
  background: #FFF;
  padding-bottom: 25px; }
  .project-content .header-section {
    border-bottom: 3px solid blue; }
    .project-content .header-section .width-container {
      position: relative;
      height: 63px; }
    .project-content .header-section h1 {
      font-size: 38px;
      font-weight: 700;
      padding: 15px;
      background-color: #fff;
      position: absolute;
      left: 15px;
      top: 25px; }
      @media (max-width: 1024px) {
        .project-content .header-section h1 {
          left: 20px; } }
    .project-content .header-section .mobile-close {
      height: 45px;
      width: 45px;
      margin-top: 9px;
      margin-right: 10px;
      display: none; }
      .project-content .header-section .mobile-close .diamond {
        -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
                transform-origin: center center;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        will-change: transform;
        -webkit-transition: -webkit-transform .45s ease;
        transition: -webkit-transform .45s ease;
        transition: transform .45s ease;
        transition: transform .45s ease, -webkit-transform .45s ease; }
      .project-content .header-section .mobile-close:hover .diamond, .project-content .header-section .mobile-close:active .diamond, .project-content .header-section .mobile-close:focus .diamond {
        -webkit-transform: rotate(-225deg);
            -ms-transform: rotate(-225deg);
                transform: rotate(-225deg); }
    .project-content .header-section .langs {
      position: absolute;
      right: 15px;
      top: 30px;
      background: #FFF;
      border: 3px solid #000;
      text-align: center;
      min-width: 190px; }
      .project-content .header-section .langs .lang {
        padding: 20px 35px;
        font-weight: 400;
        font-style: italic;
        font-size: 20px; }
        .project-content .header-section .langs .lang:first-of-type {
          padding-top: 30px; }
        .project-content .header-section .langs .lang:last-of-type {
          padding-bottom: 30px; }
      @media (max-width: 1024px) {
        .project-content .header-section .langs {
          min-width: 170px;
          right: 25px; } }
    @media (max-width: 740px) {
      .project-content .header-section h1 {
        padding: 0 0 0 10px;
        font-size: 32px;
        position: static;
        line-height: 63px;
        background-color: transparent; }
      .project-content .header-section .langs {
        min-width: 0; }
        .project-content .header-section .langs .lang {
          padding: 20px;
          font-size: 18px;
          display: inline-block;
          margin-right: -4px; }
          .project-content .header-section .langs .lang:first-of-type, .project-content .header-section .langs .lang:last-of-type {
            padding-top: 20px;
            padding-bottom: 20px; } }
    @media (max-width: 640px) {
      .project-content .header-section h1 {
        display: inline-block; }
      .project-content .header-section .mobile-close {
        float: right;
        display: block; }
      .project-content .header-section .langs {
        top: -webkit-calc(100% + 25px);
        top: calc(100% + 25px);
        right: 50%;
        -ms-transform: translateX(50%);
            transform: translateX(50%);
        -webkit-transform: translateX(50%);
        max-width: 100%;
        white-space: nowrap; } }
    @media (max-width: 460px) {
      .project-content .header-section h1 {
        font-size: 28px; }
      .project-content .header-section .langs {
        padding: 0 5px; }
        .project-content .header-section .langs .lang {
          font-size: 16px;
          padding-left: 15px;
          padding-right: 15px; } }
  .project-content .content-description-container {
    position: relative;
    width: -webkit-calc(100% - 190px);
    width: calc(100% - 190px);
    margin-top: 55px; }
    .project-content .content-description-container .close-btn {
      height: 60px;
      width: 60px;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
      @media (max-width: 920px) {
        .project-content .content-description-container .close-btn {
          left: 5px; } }
      .project-content .content-description-container .close-btn .diamond {
        -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
                transform-origin: center center;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        will-change: transform;
        -webkit-transition: -webkit-transform .45s ease;
        transition: -webkit-transform .45s ease;
        transition: transform .45s ease;
        transition: transform .45s ease, -webkit-transform .45s ease; }
      .project-content .content-description-container .close-btn:hover .diamond, .project-content .content-description-container .close-btn:active .diamond, .project-content .content-description-container .close-btn:focus .diamond {
        -webkit-transform: rotate(-225deg);
            -ms-transform: rotate(-225deg);
                transform: rotate(-225deg); }
    .project-content .content-description-container .content-description {
      padding-left: 105px;
      padding-right: 50px; }
      .project-content .content-description-container .content-description p {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.65; }
      @media (max-width: 920px) {
        .project-content .content-description-container .content-description {
          padding-right: 10px;
          padding-left: 95px; } }
    @media (max-width: 740px) {
      .project-content .content-description-container {
        width: 100%; }
        .project-content .content-description-container .close-btn {
          left: 15px; }
        .project-content .content-description-container .content-description {
          padding-right: 15px; }
          .project-content .content-description-container .content-description p {
            font-size: 16px; } }
    @media (max-width: 640px) {
      .project-content .content-description-container {
        margin-top: 115px; }
        .project-content .content-description-container .close-btn {
          display: none; }
        .project-content .content-description-container .content-description {
          padding-left: 15px; } }
  .project-content .btns-container {
    text-align: center;
    padding-top: 55px; }
    .project-content .btns-container .btn {
      line-height: 40px;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      width: 195px;
      max-width: 100%;
      display: inline-block;
      margin-right: -4px;
      color: blue;
      border: 3px solid blue;
      text-decoration: none;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      .project-content .btns-container .btn + .btn {
        margin-left: 30px; }
      .project-content .btns-container .btn:hover, .project-content .btns-container .btn:focus, .project-content .btns-container .btn:active {
        color: white;
        background-color: blue; }
    @media (max-width: 640px) {
      .project-content .btns-container {
        padding-top: 35px; }
        .project-content .btns-container .btn {
          font-size: 18px; } }
    @media (max-width: 460px) {
      .project-content .btns-container .btn {
        width: -webkit-calc(100% - 25px);
        width: calc(100% - 25px); }
        .project-content .btns-container .btn + .btn {
          margin-top: 20px;
          margin-left: 0; } }
  .project-content .slick-slider {
    padding-top: 45px; }
    .project-content .slick-slider img {
      max-width: 100%; }
    @media (max-width: 640px) {
      .project-content .slick-slider {
        padding-top: 35px; } }
