<header>
	<div class="width-container">
		<div class="logo">
			<img src="img/svg/logo.svg" class="svg" alt="michael/smith">
		</div>
		<div class="mobile-toggle" id="jsMobileToggle">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul class="links">
			<li><a class="nav-link" href="#work">work</a></li>
			<li><a class="nav-link" href="#about">about</a></li>
			<li><a class="nav-link" href="#focus">focus</a></li>
			<li><a class="nav-link" href="#contact">contact</a></li>
		</ul>
	</div>
</header>

<section class="projects" id="work">
	<div class="width-container">
		<div class="projects-header-box">
			<div class="projects-header-box-inner">
				<img src="img/svg/front-end-text.svg" alt="Front-end Development" class="svg" />
				<h1 class="hidden">Front-end Development</h1>
			</div>
		</div>
		<div class="inner projects-list">
			<span ng-repeat="project in projects" class="project-wrap">
				<div class="projects-list-item {{project.featuredStatus}}">
					<a ng-href="#/projects/{{project.id}}" class="project-wrap-link" title="View Project">
						<h3>{{project.name}}</h3>
						<p class="description" ng-bind-html="project.description | safe"></p>
						<div class="squiggle"></div>
						<div class="squiggle half"></div>
						<div class="langs">
							<p class="lang" ng-repeat="lang in project.langs">{{lang}}</p>
						</div>
					</a>
				</div>
			</span>
		</div>
	</div>
</section>

<section class="about" id="about">
	<div class="width-container">
		<div class="about-header">
			<h2>Behind <br>The Code</h2>
		</div>
		<div class="inner">
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
			<p>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
		</div>
	</div>
</section>

<section class="focus" id="focus">
	<div class="width-container">
		<div class="mobile-inner">
			<div class="focus-item">
				<div class="focus-item-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.66 145.66"><title>ui-ux-icon</title><rect x="22.83" y="22.83" width="100" height="100" transform="translate(72.83 -30.17) rotate(45)" fill="none" stroke="blue" stroke-miterlimit="10" stroke-width="3" class="diamond" /><path d="M101.08,88.58v-38h-57v38h22v7h-10v3h35v-3h-11v-7Zm-54-35h51v32h-51Zm30,42h-8v-7h8Z"/><rect x="93.08" y="55.58" width="3" height="3"/></svg>
				</div>
				<h3>UI &amp; UX</h3>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
			</div>
			<div class="focus-item">
				<div class="focus-item-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.66 145.66"><title>visual-design-icon</title><rect x="22.83" y="22.83" width="100" height="100" transform="translate(72.83 -30.17) rotate(45)" fill="none" stroke="blue" stroke-miterlimit="10" stroke-width="3" class="diamond"/><path d="M102,60.34l-2.12-2.12-4.4,4.4L83.91,51l-1.15-1.15,4.4-4.4L85,43.35l-6.52,6.52,2.3,2.29c-1.73,1.65-7,5.2-20.09,5.32H59.61L47.76,98l40.6-11.76V85.13c.11-13.18,3.73-18.35,5.38-20l1.76,1.76ZM85.39,84,55.25,92.71,69,78.93a5.56,5.56,0,1,0-2.12-2.12L53,90.7l8.84-30.24c13.13-.31,18.85-4,21.07-6.18L91.63,63C89.45,65.19,85.7,70.87,85.39,84ZM69.2,74.15a2.5,2.5,0,1,1,1.57,2.32l-1.38-1.38A2.5,2.5,0,0,1,69.2,74.15Z"/></svg>
				</div>
				<h3>Visual Design</h3>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
			</div>
			<div class="focus-item">
				<div class="focus-item-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.66 145.66"><title>development-icon</title><rect x="22.83" y="22.83" width="100" height="100" transform="translate(72.83 -30.17) rotate(45)" fill="none" stroke="blue" stroke-miterlimit="10" stroke-width="3" class="diamond"/><rect x="50.42" y="71.08" width="45.51" height="4" transform="matrix(0.29, -0.96, 0.96, 0.29, -18.18, 121.54)"/><polygon points="59.24 82.6 42.5 73.23 59.24 63.19 59.24 58.53 34.53 73.35 59.24 87.18 59.24 82.6"/><polygon points="86.44 58.53 86.24 58.61 86.24 63.16 103.02 73.23 86.24 82.63 86.24 87.21 111.07 73.35 86.44 58.53"/></svg>
				</div>
				<h3>Development</h3>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
			</div>
		</div>
	</div>
</section>

<section class="contact" id="contact">
	<div class="width-container contact-background">
		<div class="inner clearfix">
			<div class="contact-section direct">
				<h3>Get In Touch</h3>
				<ul class="link-list">
					<li>
						<div class="sub-header">Email</div>
						<a href="mailto:michael@eightnine.co">michael@eightnine.co</a>
					</li>
					<li>
						<div class="sub-header">CV</div>
						<a href="MichaelSmith_CV_2016.pdf" target="_blank">View Here (PDF)</a>
					</li>
				</ul>
			</div>
			<div class="contact-section online">
				<h3>Find Me Online</h3>
				<ul class="link-list">
					<li>
						<a href="https://codepen.io/MichaelRyanSmith/" target="_blank">Codepen</a>
					</li>
					<li>
						<a href="https://github.com/michael-eightnine" target="_blank">GitHub</a>
					</li>
					<li>
						<a href="https://vimeo.com/eightnine" target="_blank">Vimeo</a>
					</li>
					<li>
						<a href="https://www.behance.net/michaelryansmith" target="_blank">Behance</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="width-container">
		<div class="logo">
			<a href="http://www.eightnine.co" target="_blank">
				<img src="img/svg/eightnine-logo.svg" class="svg" alt="eight/nine">
			</a>
		</div>
	</div>
</footer>
