<div class="project-content">

    <a class="project-close" href="/smith/#/">
        <img src="img/close.svg" class="close-button" alt="Close"/>
    </a>

    <h1 class="content-title">{{detail.name}}</h1>

    <div class="content-description-container">
        <div class="content-description">
            <p ng-bind-html="detail.description | safe"> </p>
        </div>
    </div>

    <slick ng-if="detail.images.length > 0" dots="true" init-onload=true data="detail.images" arrows="true">
        <div class="carousel-item" ng-repeat="image in detail.images">
            <img ng-src="{{ image }}">
        </div>
    </slick>
</div>
