

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: $transWhite;
	border-bottom: $medBorder solid $blue;
	z-index: $headerZ;

	.logo, .links {
		display: inline-block;
		margin-right: -4px;
	}

	.logo {
		text-align: left;
		vertical-align: top;

		img {
			width: 100%;
			max-width: 177px;
			// position: relative;
			z-index: 1;
			// transform: translateY(50%);
			// 	-webkit-transform: translateY(50%);

			position: absolute;
			top: 50%;

			@media(max-width: $finalBreak) {
				top: 24px;
			}
		}
	}

	.mobile-toggle {
		display: none;

		@media(max-width: $mobileBreak) {
			display: inline-block;
			float: right;
			padding: 19px 0;
			cursor: pointer;

			&.active + .links {
				height: calc(100vh - 66px); //66 is header height
			}
		}

		@media(max-width: $finalBreak) {
			padding: 15px 0;

			&.active + .links {
				height: calc(100vh - 58px); //58 is header height
			}
		}

		&:hover > span {
			background-color: $blue;
		}

		span {
			display: block;
			background-color: $black;
			height: $medBorder;
			width: 35px;
			margin-bottom: 8px;
		  	transition: background-color .25s ease, transform .25s ease;
				-webkit-transition: background-color .25s ease, transform .25s ease;
			transform-origin: center center;
				-webkit-transform-origin: center center;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&.active span {
			background-color: $blue;

			&:first-of-type {
				transform: translateY(11px) rotate(-135deg);
					-webkit-transform: translateY(11px) rotate(-135deg);
			}

			&:nth-of-type(2) {
				transform: scale(0);
					-webkit-transform: scale(0);
			}

			&:last-of-type {
				transform: translateY(-11px) rotate(135deg);
					-webkit-transform: translateY(-11px) rotate(135deg);
			}
		}
	}

	.links {
		text-align: right;
		vertical-align: top;
		// width: calc(100% - 175px);
		width: 100%;

		@media(max-width: $mobileBreak) {
			position: fixed;
			background-color: $transWhite;
			height: 0;
			overflow: hidden;
			width: 100%;
			top: 66px; //66 is header height
			left: 0;
			z-index: -1;

			will-change: height;
			transition: height .25s ease .15s;
				-webkit-transition: height .25s ease .15s;
		}

		@media(max-width: $finalBreak) {
			top: 58px;
		}

		li {
			display: inline-block;
			margin-right: -4px;
			margin-left: 35px;
			text-align: center;

			a {
				display: block;
				text-decoration: none;
				font-weight: 700;
				font-size: 16px;
				line-height: 63px;
				padding: 0 35px;
				position: relative;

				&:hover, &:active, &:focus {
					outline: none;
					text-decoration: none;
					color: $blue;
				}

				@media(max-width: $midBreak) {
					padding: 0 20px;
				}
			}

			@media(max-width: $mobileBreak) {
				display: block;
				margin: 10px 0;
				padding: 5px 35px;
				text-align: center;

				&:first-of-type {
					padding-top: 35px;
				}

				&:last-of-type {
					padding-bottom: 35px;

					a:after {
						display: none;
					}
				}

				a {
					padding: 15px 0;
					font-size: 20px;
					position: relative;

					&:hover, &:active, &:focus {
						text-decoration: underline;
					}

					&:after {
						content: '';
						background: #FFF url('../img/svg/wave2.svg') center center repeat-x;
						background-size: 40px 10px;
						height: 10px;
						width: 50%;
						position: absolute;
						left: 25%;
						bottom: -16px
					}
				}
			}
		}
	}
}

footer {
	margin-top: 175px;
	height: 63px;
	background-color: #fff;
	border-top: $medBorder solid $blue;
	text-align: right;

	.logo {
		display: inline-block;
		margin-right: -2px;

		img {
			width: 142px;
			position: relative;
			z-index: 1;
			transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
		}
	}

	@media(max-width: $mobileBreak) {
		margin-top: 120px;
	}

	@media(max-width: $finalBreak) {
		margin-top: 70px;
	}
}
