.project-content {
	background: #FFF;
	padding-bottom: 25px;

	.header-section {
		border-bottom: $medBorder solid $blue;

		.width-container {
			position: relative;
			height: 63px;
		}

		h1 {
			font-size: $mainHeader;
			font-weight: 700;
			padding: 15px;
			background-color: #fff;
			position: absolute;
			left: 15px;
			top: 25px;

			// @include mobileHeader();

			@media(max-width: 1024px) {
				left: 20px;
			}
		}

		.mobile-close {
			height: 45px;
			width: 45px;
			margin-top: 9px;
			margin-right: 10px;
			display: none;

			.diamond {
				transform-origin: center center;
				transform: rotate(-45deg);
				will-change: transform;
				transition: transform .45s ease;
			}

			&:hover, &:active, &:focus {
				.diamond {
					transform: rotate(-225deg);
				}
			}
		}

		.langs {
			position: absolute;
			right: 15px;
			top: 30px;
			background: #FFF;
			border: $medBorder solid $black;
			text-align: center;
			min-width: 190px;

			.lang {
				padding: 20px 35px;
				font-weight: 400;
				font-style: italic;
				font-size: 20px;

				&:first-of-type {
					padding-top: 30px;
				}

				&:last-of-type {
					padding-bottom: 30px;
				}
			}

			@media(max-width: 1024px) {
				min-width: 170px;
				right: 25px;
			}
		}

		@media(max-width: $mobileBreak) {
			h1 {
				padding: 0 0 0 10px;
				font-size: $mainHeaderMobile;
				position: static;
				line-height: 63px;
				background-color: transparent;
			}

			.langs {
				min-width: 0;

				.lang {
					padding: 20px;
					font-size: 18px;
					display: inline-block;
					margin-right: -4px;

					&:first-of-type, &:last-of-type {
						padding-top: 20px;
						padding-bottom: 20px;
					}
				}
			}
		}

		@media(max-width: $subMobileBreak) {
			h1 {
				display: inline-block;
			}

			.mobile-close {
				float: right;
				display: block;
			}

			.langs {
				top: calc(100% + 25px);
				right: 50%;
				transform: translateX(50%);
					-webkit-transform: translateX(50%);
				max-width: 100%;
				white-space: nowrap;
			}
		}

		@media(max-width: $finalBreak) {
			h1 {
				font-size: $mainHeaderMini;
			}

			.langs {
				padding: 0 5px;

				.lang {
					font-size: 16px;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}

	.content-description-container {
		position: relative;
		width: calc(100% - 190px);
		margin-top: 55px;

		.close-btn {
			height: 60px;
			width: 60px;
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
 			transform: translateY(-50%);
				-webkit-transform: translateY(-50%);

			@media(max-width: $midBreak) {
				left: 5px;
			}

			.diamond {
			    transform-origin: center center;
				transform: rotate(-45deg);
				will-change: transform;
				transition: transform .45s ease;
			}

			&:hover, &:active, &:focus {
				.diamond {
					transform: rotate(-225deg);
				}
			}
		}

		.content-description {
			padding-left: 105px;
			padding-right: 50px;

			p {
				font-size: 18px;
				font-weight: 600;
				line-height: 1.65;
			}

			@media(max-width: $midBreak) {
				padding-right: 10px;
				padding-left: 95px;
			}
		}

		@media(max-width: $mobileBreak) {
			width: 100%;

			.close-btn {
				left: 15px;
			}

			.content-description {
				padding-right: 15px;

				p {
					font-size: 16px;
				}
			}
		}

		@media(max-width: $subMobileBreak) {
			margin-top: 115px;

			.close-btn {
				display: none;
			}

			.content-description {
				padding-left: 15px;
			}
		}
	}

	.btns-container {
		text-align: center;
		padding-top: 55px;

		.btn {
			line-height: 40px;
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
			width: 195px;
			max-width: 100%;
			display: inline-block;
			margin-right: -4px;
			color: $blue;
			border: $medBorder solid $blue;
			text-decoration: none;
			@include transition(.25s);

			& + .btn {
				margin-left: 30px;
			}

			&:hover, &:focus, &:active {
				color: white;
				background-color: $blue;
			}
		}

		@media(max-width: $subMobileBreak) {
			padding-top: 35px;

			.btn {
				font-size: 18px;
			}
		}

		@media(max-width: $finalBreak) {
			.btn {
				width: calc(100% - 25px);

				& + .btn {
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}
	}

	.slick-slider {
		padding-top: 45px;

		img {
			max-width: 100%;
		}

		@media(max-width: $subMobileBreak) {
			padding-top: 35px;
		}
	}
}
